
@import url('https://fonts.googleapis.com/css2?family=Lemonada&display=swap');

body{
    font-family: 'Lemonada', cursive;
}

footer {
    position: relative;
    background-color: #D8BFD8;
    color: white;
    border: 2px black;
    border-style: solid;
    -moz-border-radius: 10px;
    padding: 0px;
    text-transform: uppercase;
    font-weight: bold;
}

.navbar-default .navbar-toggle .icon-bar {
    background-color: white !important;
}

td {
    text-align: center;
}

th {
    text-align: center;
}

.menu{
    background-color: #D8BFD8;
    border: 2px black;
    border-style: dotted;
    margin-left: 5px;
}

.menu1{
    margin-top: 20px;
}

header{
    position: relative;
    background-color: #D8BFD8;
    text-align: center;
    border: 2px black;
    border-style: solid;
    padding: 1px;
    border-collapse: collapse;
}

img {
    width: 100%;
    height: 100%;
}

.carousel-inner{
    position: center;
    padding: 50px;
}

.clearfix{
    overflow: auto;
}

.clearfix::after {
    content: "";
    clear: both;
    display: table;
}

a:link {
  color: #8B008B;
}

a:visited {
  color: #8B008B;
}

a:hover {
  color: #4B0082;
}

a:active {
  color: #FF00FF;
}

a.one:link {
    padding: 10px;
    background-color: #D8BFD8;
    font-size: 100%;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    text-transform: uppercase;
    font-weight: bold;
    margin-bottom: 8px;
}

a.one:visited {
    padding: 10px;
    background-color: #D8BFD8;
    font-size: 100%;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    text-transform: uppercase;
    font-weight: bold;
    margin-bottom: 8px;
}

a.one:hover {
    padding: 10px;
    background-color: #D8BFD8;
    font-size: 100%;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    text-transform: uppercase;
    font-weight: bold;
    margin-bottom: 8px;
}

a.one:visited {
    padding: 10px;
    background-color: #D8BFD8;
    font-size: 100%;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    text-transform: uppercase;
    font-weight: bold;
    margin-bottom: 8px;
}

tr:nth-child(even) {
  background-color: #808080;
}
